.div1 {
    border: 1px red solid;
    border-radius: 20px;
    font-size: 24px;
}

.div2 {
    font-style: italic;
    font-weight: bold;
}

.div3 {
    background-color: black;
    color: white;
    font-family: monospace, monospace;
    box-shadow: 5px 5px 10px 2px rgba(0,9,1,.8);
}

p {
    margin: 0;
}