body {
    margin: 0;
}

.flex {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 927px;
    justify-content: flex-end;
    align-content: flex-end;
    flex-wrap: wrap;
}

.box1 {
    background-color: aqua;
    width: 200px;
    height: 200px;
}

.box2 {
    background-color: blueviolet;
    width: 200px;
    height: 200px;
}

.box3 {
    background-color: coral;
    width: 200px;
    height: 200px;
}