body {
  padding: 0;
  margin: 0;
}

.container {
  background-image: linear-gradient(
    to right bottom,
    #F2613F,
    #9B3922
  );
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.start {
  position: absolute;
  top: 20px;
  background-image: linear-gradient(
    to right,
    #F2613F,
     #9B3922
  );
  width: 900px;
  height: 85vh;
  border: 10px solid #0C0C0C;
  border-radius: 30px;
  padding: 10px;
  z-index: 3;
}

.rules h2 {
  margin-left: 50px;
}

.get-num {
  margin-left: 35%;
  margin-top: 25%;
  display: flex;
  flex-direction: column;
  width: 280px;
}

.get-num h2 {
  margin-bottom: 80px;
}

.get-num input {
  margin-bottom: 20px;
  border-radius: 30px;
  height: 25px;
  text-align: center;
  font-size: 20px;
}

.get-num button {
  border-radius: 30px;
  height: 40px;
}

.player {
  background-color: rgb(215, 201, 184);
  height: 100vh;
  width: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.player .score {
  margin-top: 20px;
  background-color: #9B3922;
  height: 120px;
  width: 200px;
}

.score h2 {
  color: white;
}

.scoreNum {
  font-size: 50px;
  color: #481E14;
}

.dice {
  display: flex;
  flex-direction: column;
  gap: 80px;
  position: absolute;
  margin-top: 20px;
  align-items: center;
  z-index: 3;
}

.dice img {
  width: 100px;
}

.dice button {
  height: 40px;
  width: 150px;
  background-color: rgba(250, 235, 215, 0.9);
  border: none;
  border-radius: 30px;
  cursor: pointer;
}

.shadow {
  position: absolute;
  height: 100vh;
  width: 550px;
  left: 50%; /* left:13.8%; */
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.textWin {
    margin-top: 55%;
}

.scoreC {
    color: #481E14;
}

#textWin2, #textWin1{
    color: #481E14;
}

button {
    transition: transform 0.3s ease;
}

button:hover {
    transform: translateY(5px);
}
