div {
    position: absolute;
}

.one {
    width: 200px;
    height: 150px;
    background-color: aqua;
}

.two {
    width: 150px;
    height: 150px;
    background-color: burlywood;
    top: 80px;
    left: 100px;
}

.three {
    height: 130px;
    width: 400px;
    background-color: bisque;
    top: 200px;
}

.four {
    height: 400px;
    width: 90px;
    background-color: brown;
    left: 300px;
}